server:
    port: 8080
---
spring:
    profiles: dev
    datasource:
        platform: h2
        url: jdbc:h2:mem:cooperation;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        driverClassName: org.h2.Driver
        username: sa
        password:
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
---
spring:
    profiles: amazon
    datasource:
        platform: h2
        url: jdbc:h2:tcp://localhost/~/cooperation;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        driverClassName: org.h2.Driver
        username: sa
        password:
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate.ddl-auto: update
---
spring:
    profiles: prod
    datasource:
        platform: mysql
        driverClassName: com.mysql.jdbc.Driver
        url: jdbc:mysql://localhost/cooperation
        username: root
        password: 
    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
    